.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.addDiv {
    background-color: beige;
    margin: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    font-family: monospace;
}