.navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial;
}


.navbar a:hover {
    background-color: #FF3B3F;
    color: white;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #A9A9A9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.addDiv {
    margin: 5%;
}

body {
    background-color: #EFEFEF;
}

.btn-default:hover {
    background-color: #FF3B3F;
    color: white;
    border-color: white;
}

a:hover {
    color: #FF3B3F;
}