/*
    css er skráin er ætluð fyrir útlit síðunnar

    Höfundar

    Ása Júlía Aðalsteinsdóttir - aja11@hi.is
    Melkorka Mjöll Jóhannesdóttir - mmj8@hi.is
    Sigurlaug Þórðardóttir - sth301@hi.is
    Valgerður Sigfinnsdóttir - vas30@hi.is
 */

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial;
}

.navbar a:hover {
    background-color: #FF3B3F;
    color: white;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #A9A9A9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.addDiv {
    margin: 5%;
}

body {
    background-color: #EFEFEF;
}

.btn-default:hover {
    background-color: #FF3B3F;
    color: white;
    border-color: #FF3B3F;
}

.a-info {
    color: #FF3B3F;
}

.a-info:hover {
    color: black;
}
.container.well {
    background-color: #CAEBF2;
}

hr {
    background-color: black;
}